@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --background: #ffffff;
      --foreground: #0a0a0a;
      --card: #ffffff;
      --card-foreground: #0a0a0a;
      --popover: #ffffff;
      --popover-foreground: #0a0a0a;
      --primary: #068eff; /* brand-600 */
      --primary-foreground: #ffffff;
      --secondary: #f5f5f5;
      --secondary-foreground: #1a1a1a;
      --muted: #f5f5f5;
      --muted-foreground: #737373;
      --accent: #f5f5f5;
      --accent-foreground: #1a1a1a;
      --destructive: #d72638;
      --destructive-foreground: #fafafa;
      --border: #e5e5e5;
      --input: #e5e5e5;
      --ring: #007aff; /* brand-700 */
      --radius: 0.5rem;
      --chart-1: #e87d28;
      --chart-2: #199e84;
      --chart-3: #16435c;
      --chart-4: #f0c800;
      --chart-5: #fca047;
    }

    .dark {
      --background: #0a0a0a;
      --foreground: #fafafa;
      --card: #0a0a0a;
      --card-foreground: #fafafa;
      --popover: #0a0a0a;
      --popover-foreground: #fafafa;
      --primary: #fafafa;
      --primary-foreground: #1a1a1a;
      --secondary: #262626;
      --secondary-foreground: #fafafa;
      --muted: #262626;
      --muted-foreground: #a3a3a3;
      --accent: #262626;
      --accent-foreground: #fafafa;
      --destructive: #851717;
      --destructive-foreground: #fafafa;
      --border: #262626;
      --input: #262626;
      --ring: #d4d4d4;
      --chart-1: #3366cc;
      --chart-2: #26a69a;
      --chart-3: #ff9900;
      --chart-4: #aa00ff;
      --chart-5: #ff007f;
    }

  }



@layer utilities{
  .box-t {
    @apply flex-1 p-4 bg-white rounded-lg shadow border border-gray-100 dark:text-white dark:bg-gray-900 dark:shadow-none dark:border-none
  }

  .text-main-t{
    @apply dark:text-white text-black
  }

  .text-sub-t {
    @apply dark:text-gray-400 text-gray-600
  }

  .background-dark950_light50{
    @apply dark:bg-gray-950 bg-white
  }

  .background-dark900_light50{
    @apply dark:bg-gray-900 bg-white
  }

  .border-dark800_light300{
    @apply dark:border-gray-800 border-gray-300

  }

  .border-dark800_light200{
    @apply dark:border-gray-800 border-gray-200
  }

  .border-dark800_light100{
    @apply dark:border-gray-800 border-gray-100
  }

  .text-dark300_light950{
    @apply dark:text-gray-300 text-black
  }


}


.scroll-container {
  height: 40px;
  overflow-y: scroll;
}

.scroll-container::-webkit-scrollbar {
  width: 6px;
}

.scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #83dfff;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scroll-container::-webkit-scrollbar-button {
  display: none;
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}






